/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main styles */

body {
  color: rgb(85,85,85);
  font-family: Georgia;
  font-size: 16px;
  margin: 3em 0 0 3em;
  width: 33em;
}

h1 {
  font-family: "Roboto Slab";
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 0.25em;
}

strong {
  font-weight: bold;
}

h2 {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-style: italic;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

ul {
  width: 100%;
}

li {
  float: left;
  width: 10em;
}

li:nth-child(2) {
  text-align: center;
}

li:last-child {
  text-align: right;
  width: 13em;
}

a {
  color: rgb(65,65,65);
  font-weight: bold;
  text-decoration: none;
}
